<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <style>
        #map {    width: 80%;
            height: 600px;
            margin: 0 auto;}
            
     </style>
    </head>

    <body>
        <button class="add_point">创建点数据</button>
        <button class="add_line">创建线数据</button>
        <button class="add_polygon">创建面数据</button>
        <button class="no">取消选择工具</button>
        
        <h1>Hello aWorld</h1>
        <div id="map"></div>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin="">
        </script>
        <script>
            
            var map = L.map('map').setView([51.505, -0.09], 13);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            let pointflag = 0;
            let lineflag = 0;
            let polygonflag = 0;
            let Linepoints = []
            let currentLine = null;
            let polypoint = []
            let currentpolygon = null;
            const button_addppopint = document.querySelector(".add_point");
            const button_addlien = document.querySelector(".add_line");
            const button_addpolygon = document.querySelector(".add_polygon");
            const button_non = document.querySelector(".no");

//按钮调控部分
            button_addppopint.addEventListener("click", function () {
                pointflag = 1;
            });
            button_addlien.addEventListener("click",function(){
                lineflag = 1;
                Lpointlist = [];
                {
                    lineflag = 1;
                    Linepoints = [];
                    currentLine = L.polyline(
                        [],
                        {
                            color: "red",
                            weight: 4
                        }
                    ).addTo(map);

                }

            })
            button_addpolygon.addEventListener("click",function(){
                polygonflag = 1;
                polypoint = []
                currentpolygon = L.polygon([], {color: 'red'}).addTo(map);
            })

            button_non.addEventListener("click",async function() {
                console.log(Linepoints)
                if(lineflag){
                    let getresponse =await fetch(
                    "/post_line",{method:'post',
                    body: JSON.stringify({ pointlist:Linepoints })})
                }
                if(polygonflag){
                    let getresponse =await fetch(
                    "/post_polygon",{method:'post',
                    body: JSON.stringify({ pointlist:Linepoints })})
                }
                pointflag = 0;
                lineflag = 0;
                polygonflag = 0;
            })


//鼠标点击事件部分
            async function onMapClick(e) {
                if(pointflag == 1){
                    let getresponse =await fetch(
                    "/post_point",{method:'post',
                    //headers:{ 'Content-Type': 'application/json',},
                    body: JSON.stringify({ lat: e.latlng.lat, lon: e.latlng.lng })})

                    var marker = L.marker([
                        e.latlng.lat,
                        e.latlng.lng
                    ]).addTo(map);
                }

                if(lineflag ==1){
                    Linepoints.push(e.latlng);

                    // 把新节点加入当前线
                    currentLine.addLatLng(e.latlng);
                    
                }
                
                if(polygonflag ==1){
                    polypoint.push(e.latlng);
                    currentpolygon.addLatLng(e.latlng);
                }
                
            }

            map.on('click', onMapClick);


//初始数据加载部分
            const points = {{ points | tojson }};
            points.forEach(function(point){
               L.circleMarker(
                    [point.lat, point.lon],
                    {
                        fillColor: "red",
                    }
                ).addTo(map);
            })

            const lines = {{ lines | tojson }};
            lines.forEach(function(line){
                L.geoJSON(
                    line.geometry,
                    {
                        style: {
                            color: "red",
                            weight: 4
                        }
                    }
                ).addTo(map);
            })

           

           
            
        </script>
        
    </body>
</html>